{% extends "base.html" %}

{% from "macros/forms.html" import input %}

{% block title %}{{ _('box') }}{% endblock %}

{% block content %}
    {% if (current_user.is_customer and box_name == 'customer') or
          (current_user.is_service_provider and box_name == 'customer') or
          (current_user.is_consultant and box_name == 'consultant')
    %}
    <div class="span6">
        <h2>{{_('upload file')}}</h2>
        <form method="post" enctype="multipart/form-data" id="upload_data">
          <fieldset>
            {{ form.csrf }}
            {{ form.overwrite }}
            {{ input(form.file) }}
            <span class="help-block">{{ _('upload help text') }}</span>
            <button id="upload" type="submit" class="btn">{{ _('Upload') }}</button>
            </fieldset>
        </form>
    </div>

    <div class="span12">
        <hr>
    </div>
    {% endif %}
    <div class="span6">
        <h2>{{_('file overview')}}</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>{{ _('filename') }}</th>
                    <th>{{ _('date') }}</th>
                    <th>{{ _('size') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>
                        <a href="{{ file.download_link }}" target='_blank'>
                        {{ file.id }}
                        </a>
                    </td>
                    <td>{{ file.date }}</td>
                    <td>{{ (file.size/1024/1024)|round(precision=2)}} MB</td>
                    <td>
                    {% if (current_user.is_customer and box_name == 'customer') or
                          (current_user.is_service_provider and box_name == 'customer') or
                          (current_user.is_consultant and box_name == 'consultant')
                    %}
                    <a href="{{ url_for('boxes.delete_file', box_name=box_name, user_id=user.id, id=file.id, rev=file.rev) }}">{{ _('delete') }}</a>
                    {% endif %}

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="confirm_dialog" class="modal hide">
    <div class="modal-body">{{ _('help text file exists, are you sure you want to overwrite it?') }}</div>
    <div class="modal-footer">
        <a href="#" class="btn primary" id="abort">{{_('abort')}}</a>
        <a href="#" class="btn primary" id="ok">{{_('ok')}}</a>
    </div>
</div>

<div id="upload_dialog" class="modal hide">
    <div class="modal-body">
        {{ _('file is uploading...') }}
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function() {
    $("#confirm_dialog").on("show", function() {
        $("#confirm_dialog a.btn#ok").on("click", function(e) {
            $('#overwrite').val(true);
            $("#confirm_dialog").modal('hide');
            $("#upload_data").submit();
            $("#upload_dialog").modal('show');
        });

        $("#confirm_dialog a.btn#abort").on("click", function(e) {
            $("#confirm_dialog").modal('hide');
        });

    });
    $("#confirm_dialog", "#upload_dialog").modal({
        "backdrop" : "static",
        "keyboard" : true,
        "show" : false
    });

    $("#upload").click(function() {
        var existing = false;
        var file = $("#file").val();
        var filename_elements = file.split(/\\/);
        filename = filename_elements[filename_elements.length-1]
        if (filename) {
            $.ajax({
              type: 'POST',
              async: false,
              url: '{{ url_for('boxes.check_file_exists', user_id=user.id, box_name=box_name) }}',
              data: { filename: filename },
              success: function(data) {
                if (data.existing) {
                    existing = true;
                } else {
                    existing = false;
                }
              }
            });
        }
        if (!existing) {
            $('#overwrite').val(false);
            $("#upload_dialog").modal('show');
            return true;
        } else {
           $('#confirm_dialog').modal('show');
        }
        return false;
    });
});

</script>
{% endblock %}
